<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Hosts</title>
</head>
<body>
<h1>Hosts</h1>
<p><a href="{% url 'list_hosts' %}">list hosts</a> <a href="{% url 'add_hosts' %}">add hosts</a></p>
{% if form_error %}
    <p>hostname can not be changed, this maybe a mistake.</p>
{% endif %}
{% if form_ismodified %}
    <p>hostname modified successfully!</p>
{% endif %}
{% if form_isdeleted %}
    <p>hostname deleted successfully!</p>
{% endif %}
<ul>
    {% if fields %}
        {% for field in fields %}
            <li>{{ field.hosts_hosts }}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="hostname_to_delete" value="{{ field.hosts_hosts }}">
                    <input type="hidden" name="action" value="delete">
                    <input type="submit" value="delete">
                </form>
            </li>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="old_hostname" value="{{ field.hosts_hosts }}">
                <input type="hidden" name="action" value="modify">
                {% for item, value in field.items %}

                    <p>{{ item }}:<input type="text" name="{{ item }}" placeholder="{{ value }}"></p>

                {% endfor %}
                <input type="submit" value="Modify">
            </form>
        {% endfor %}
    {% else %}
        <p>No host is found, <a href="{% url 'add_hosts' %}">add host</a>.</p>
    {% endif %}


</ul>
</body>
</html>